{% extends "layouts/base.html.twig" %}

{% block title %}
	Liste
{% endblock %}

{% block body %}
	<h1>Liste</h1>
	{{dump( wishList)}}
	<p>
		{# Conditionnelle d'affichage sur le nombre de voeux #}
		<br>
		La liste de souhait comporte [NombreDeVoeux] voeux.
		<br>
		<br>
		Les voicis :
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Title</th>
					<th>Description</th>
					<th>Author</th>
					{# <th>IsPublished</th> #}
					{# <th>DateCreated</th> #}
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for wish in wishList %}
					{# {% if wish.isPublished %} #}
						<tr>
							<td>{{ wish.id }}</td>
							<td>{{ wish.title }}</td>
							<td>{{ wish.description }}</td>
							<td>{{ wish.author }}</td>
							{# <td>{{ wish.isPublished ? 'Yes' : 'No' }}</td> #}
							{# <td>{{ wish.dateCreated ? wish.dateCreated|date('Y-m-d H:i:s') : '' }}</td> #}
							<td>
								<a class="btn btn-primary" href="{{ path('app_wish_show', {'id': wish.id}) }}"><i class="fa-solid fa-eye"></i></a>
						<a class="btn btn-warning" href="{{ path('app_wish_edit', {'id': wish.id}) }}"><i class="fa-solid fa-pen"></i>cd </a>
							</td>
						</tr>
					{# {% endif %} #}
				{% else %}
					<tr>
						<td colspan="7">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</p>
{% endblock %}
